.modal{
    background-color: white;
    padding: 20px;
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.title{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;

}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    bottom: 20%;
    left: 0;
}

button{
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;

}

.yes{
    background-color: red;
    color: whitesmoke;
}

.no{
    background-color: gray;
    color: whitesmoke;
}

.modal-cantainer{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #8080809f;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    padding: 0;
    margin: 0;
}

.m{
    display:none;
}

.show{
    display: block;
}

.hide{
    display: none;
}